@import "./variables";
@import "./mixins";

.inspired-gallery {
  h1 {
    color: black;
    position: relative;
    margin: $title-margin;

    &:before {
      content: "";
      height: 2px;
      width: 28%;
      background: rgb(99, 156, 175);
      position: absolute;
      left: 0;
      bottom: -5px;
    }
  }

  .gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .top-gallery {
      @include flexCenter(row);
    }

    .bottom-gallery {
      @include flexCenter(row);
    }

    .gallery-item {
      position: relative;

      width: 300px;
      min-width: 300px;
      height: 300px;
      min-height: 300px;

      margin: 5px;
      @include heroBanner(url("../assets/1.jpg"));
      flex-grow: 1;

      h2 {
        position: absolute;
        color: white;
        bottom: 0;
        margin: 0px 0px 40px 40px;
      }
    }
  }
}

@media all and (max-width: 800px) {
  .inspired-gallery {
    .gallery {
      justify-content: center;
    }
    .gallery-item {
      position: relative;
      width: 200px;
      height: 200px;
      min-width: 300px;
      min-height: 300px;
      max-width: 300px;
      max-height: 300px;
    }
  }
}
